<html>
  <head>
    <title>おにごっこログイン</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
　　<body>
    <form action="/battle" method="post">
      <p>ユーザID<input type="text" name="userId"></p>
      <p>ルームID<input type="text" name="roomId"></p>
      <p><input type="submit" value="ログイン"></p>
    </form>
  </body>
</html>